<!DOCTYPE html>
<html>
<head>
    <title>Editar Tarefa</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.7/dist/tailwind.min.css">
</head>
<body>
    <div class="container mx-auto py-8">
        <h1 class="text-3xl mb-4">Editar Tarefa</h1>
        <form method="post">
            <div class="mb-4">
                <label for="title" class="block mb-2">Título</label>
                <input type="text" id="title" name="title" class="border border-gray-300 rounded px-4 py-2 w-full" value="{{ task[1] }}" required>
            </div>
            <div class="mb-4">
                <label for="description" class="block mb-2">Descrição</label>
                <textarea id="description" name="description" class="border border-gray-300 rounded px-4 py-2 w-full" required>{{ task[2] }}</textarea>
            </div>
            <div class="mb-4">
                <label for="due_date" class="block mb-2">Data de Vencimento</label>
                <input type="date" id="due_date" name="due_date" class="border border-gray-300 rounded px-4 py-2 w-full" value="{{ task[3] }}" required>
            </div>
            <button type="submit" class="bg-green-500 text-white px-4 py-2 rounded">Atualizar Tarefa</button>
        </form>
        <br>
        <a href="{{ url_for('index') }}" class="bg-blue-200 text-blue-800 px-4 py-2 rounded mt-4">Voltar para todas as tarefas</a>
    </div>
</body>
</html>
